ion-header {
	ion-toolbar ion-title {
		padding: 0 25px !important;
		font-size: 1.4rem;
		font-weight: 500;
	}

	.profile_box {

		padding: 27px 25px 25px 25px !important;

		.img_box {
			min-width: 68px;
			height: 68px;
			border-radius: 50%;
			margin-right: 15px;
		}

		.text_box {
			color: var(--white);

			h2 {
				margin: 0;
				font-size: 1.4rem;
				letter-spacing: .7px;
				padding-bottom: 2px;

			}

			p {
				margin: 0;
				opacity: .6;
				font-weight: 500;
				font-size: .95rem;
				letter-spacing: .7px;
			}
		}
	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 45px 34px 19px 34px;
	padding-bottom: 50px;

	ion-item {
		padding: 0;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		--min-height: unset;
		margin-bottom: 38px;

		.item_inner {
			width: 100%;
			align-items: flex-start;

			ion-icon {
				color: var(--primary);
				font-size: 1.6rem;
				position: relative;
				min-width: 48px;
				display: block;
				top: 3px;
			}

			h2 {
				margin: 0;
				color: var(--text-black);
				font-weight: 700;
				font-size: 1.5rem;
				letter-spacing: 0;
				padding-bottom: 11px;
			}

			p {
				color: var(--text-light);
				margin: 0;
				font-size: 1rem;
				letter-spacing: .5px;
				font-weight: 400;
			}
		}
	}
}

.buy_this_app {
	background: var(--primary);
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50px;
	height: 52px;
	display: flex;
	align-items: center;
	min-width: 155px;
	z-index: 99999;
	box-shadow: 0 10px 18px -4px rgba(0, 0, 0, 0.2);

	h2 {
		color: var(--white);
		display: flex;
		align-items: center;
		margin: auto;
		width: fit-content;
		font-size: 1.1rem;
		font-weight: 400;

		ion-icon {
			font-size: 1rem;
			min-width: 24px;
		}
	}
}