ion-content {
	border-radius: 0px 0 0 0;
	--background: transparent;
}

.tab_btn_container {
	ion-segment {
		border: none !important;
		position: relative;
		display: block;
		width: auto;
		height: 100%;
		position: fixed;
		top: 00px;
		left: 0;
		overflow: hidden !important;
		overflow-y: scroll !important;
		z-index: 99;
		padding-top: 86px;

		ion-segment-button {
			background: none !important;
			position: relative;
			font-size: 1rem;
			font-weight: 300;
			color: var(--text-light) !important;
			text-transform: unset !important;
			letter-spacing: 0;
			--color-checked: var(--transparent) !important;
			text-align: justify !important;
			--background-checked: var(--transparent) !important;
			--border-width: 0 !important;
			--border-radius: 0 !important;
			padding: 0px;
			padding-bottom: 0;
			width: 61px;
			min-width: unset;
			min-height: 70px;

			h2 {
				margin: 0;
				position: relative;
				width: 47px;
				text-align: center;
				height: 47px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 auto;
				margin-bottom: 10px;


				ion-icon {
					color: var(--primary);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 1.7rem;
					line-height: 47px;
					z-index: 999;
				}

				&::after,
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					width: 100%;
					height: 100%;
					background: var(--primary-dark);
					border-radius: 50%;
					transition: all .3s;
				}

				&::after {
					background: var(--white);
					width: 0;
					height: 0;
				}
			}

			&.segment-button-checked {
				h2 {
					&::after {
						width: 100%;
						height: 100%;
					}

					&::before {
						width: 0;
						height: 0;
					}
				}
			}

		}

		&.ios {
			min-height: 55px;

			.ion-segment-button {
				margin: 0 10px;
			}
		}
	}
}

.tab_container {
	border-radius: 33px 0 0 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-width: calc(100% - 63px);
	margin-right: 0;
	margin-left: auto;
	position: relative;

	.content {
		height: 100%;
		overflow-y: scroll;
	}

	.map {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
		}

		ion-icon {
			color: var(--primary);
			position: absolute;
			font-size: 2.5rem;
		}

	}

	.search_box {
		background: var(--white);
		width: calc(100% - 28px);
		margin: 0 auto;
		padding: 0 23px;
		position: relative;
		overflow: hidden;
		min-height: 60px;
		z-index: 99;
		border-radius: 50px;
		margin-top: 15px;

		ion-icon {
			color: var(--primary);
			font-size: 1.6rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;

			&.zmdi-search {
				color: var(--text-light);
				position: relative;
				top: 2px;
			}

		}

		ion-searchbar {
			--background: var(--transparent) !important;
			--color: var(--text-black);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 500 !important;
			--placeholder-color: var(--text-light) !important;
			--box-shadow: none !important;
		}
	}

	.form {
		background: var(--white);
		overflow: hidden;
		width: 100%;
		border-radius: 33px 33px 0 0;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		z-index: 9999;
		transition: all .3s;

		ion-list {
			.list_header {
				background: var(--bg-color);
				-webkit-box-align: start;
				align-items: flex-start;
				padding: 20px;
				margin-bottom: 18px;

				ion-icon {
					color: var(--primary);
					font-size: 1.5rem;
					min-width: 29px;
				}

				p {
					color: var(--text-black);
					margin: 0;
					font-weight: 600;
					letter-spacing: 0;
					font-size: .9rem;
				}
			}

			ion-item {
				background: var(--bg-color);
				border: 1px solid #ccc !important;
				border-radius: 50px;
				width: calc(100% - 28px);
				margin: 0 auto;
				margin-bottom: 14px;
				padding: 11px 14px;

				ion-icon {
					margin: 0;
					color: var(--primary);
					font-size: 1.2rem;
					min-width: 30px;
				}

				ion-textarea,
				ion-input {
					font-size: .85rem !important;
					font-weight: 500 !important;
				}
			}

		}

		.btn_container {
			padding: 7px 13px;
			padding-bottom: 31px;

			.button.btn {
				font-size: 1rem;
				font-weight: 500;
				width: auto;
				min-width: 145px;
				height: 40px;

				ion-icon {
					font-size: 1.3rem;
					min-width: 30px;
				}

			}
		}

		&.active {
			height: auto;
		}
	}
}