ion-header {
	padding-bottom: 6px;

	ion-toolbar ion-buttons ion-back-button {
		--padding-start: 0 !important;
	}
}

ion-content {
	border-radius: 0px 0 0 0;
	--background: transparent;
}


.tab_btn_container {
	ion-segment {
		border: none !important;
		position: relative;
		display: block;
		width: auto;
		height: 100%;
		position: fixed;
		top: 00px;
		left: 0;
		overflow: hidden !important;
		overflow-y: scroll !important;
		z-index: 99;
		padding-top: 86px;

		ion-segment-button {
			background: none !important;
			position: relative;
			font-size: 1rem;
			font-weight: 300;
			color: var(--text-light) !important;
			text-transform: unset !important;
			letter-spacing: 0;
			--color-checked: var(--transparent) !important;
			text-align: justify !important;
			--background-checked: var(--transparent) !important;
			--border-width: 0 !important;
			--border-radius: 0 !important;
			padding: 0px;
			padding-bottom: 0;
			width: 61px;
			min-width: unset;
			min-height: 70px;

			h2 {
				margin: 0;
				position: relative;
				width: 47px;
				text-align: center;
				height: 47px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 auto;
				margin-bottom: 10px;


				ion-icon {
					color: var(--primary);
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					font-size: 1.7rem;
					line-height: 47px;
					z-index: 999;
				}

				&::after,
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					width: 100%;
					height: 100%;
					background: var(--primary-dark);
					border-radius: 50%;
					transition: all .3s;
				}

				&::after {
					background: var(--white);
					width: 0;
					height: 0;
				}
			}

			&.segment-button-checked {
				h2 {
					&::after {
						width: 100%;
						height: 100%;
					}

					&::before {
						width: 0;
						height: 0;
					}
				}
			}

		}

		&.ios {
			min-height: 55px;

			.ion-segment-button {
				margin: 0 10px;
			}
		}
	}
}

.tab_container {
	border-radius: 33px 0 0 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-width: calc(100% - 63px);
	margin-right: 0;
	margin-left: auto;
	position: relative;

	.content {
		overflow-y: auto;
	}

	.map {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
		}

		.restaurant_location {
			position: absolute;
			position: absolute;
			width: 28px;
		}

	}

	.your_location {
		position: absolute;
		overflow: hidden;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		text-align: center;

		ion-icon {
			color: var(--primary);
			font-size: 1.2rem;
			line-height: 25px;
			height: 25px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
			background: var(--primary);
			opacity: .5;
		}
	}

	.search_box {
		background: var(--white);
		width: calc(100% - 28px);
		margin: 0 auto;
		padding: 0 23px;
		position: relative;
		overflow: hidden;
		min-height: 60px;
		z-index: 99;
		border-radius: 50px;
		margin-top: 15px;

		ion-icon {
			color: var(--primary);
			font-size: 1.6rem;
			min-width: 35px;
			height: 35px;
			line-height: 35px;
			z-index: 99;

		}

		ion-searchbar {
			--background: var(--transparent) !important;
			--color: var(--text-black);
			--placeholder-opacity: 1;
			--placeholder-font-weight: 500 !important;
			--placeholder-color: var(--text-light) !important;
			--box-shadow: none !important;

			.searchbar-clear-button {
				display: none !important;
			}
		}
	}

	.search_option {
		padding-top: 5px;
		position: relative;
		z-index: 999;

		ion-card {
			border-radius: 12px;
			width: calc(100% - 10%);
			margin: 0 auto;
			margin-bottom: 8px;
			padding: 10px 20px 6px 20px;

			h2 {
				margin: 0;
				color: var(--text-light);
				font-weight: 400;
				font-size: .9rem;
				padding-bottom: 10px;
			}

			h3 {
				margin: 0;
				color: var(--text-black);
				font-size: 1rem;
				font-weight: 600;
				padding-bottom: 10px;

				ion-icon {
					color: var(--primary);
					font-size: 1.5rem;
					min-width: 35px;
				}
			}
		}
	}

	.form {
		background: var(--white);
		overflow: hidden;
		width: 100%;
		border-radius: 33px 33px 0 0;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		z-index: 9999;
		transition: all .3s;

		ion-list {
			.list_header {
				background: var(--bg-color);
				-webkit-box-align: start;
				align-items: flex-start;
				padding: 20px;
				margin-bottom: 18px;

				ion-icon {
					color: var(--primary);
					font-size: 1.5rem;
					min-width: 29px;
				}

				p {
					color: var(--text-black);
					margin: 0;
					font-weight: 600;
					letter-spacing: 0;
					font-size: .9rem;
				}
			}

			ion-item {
				background: var(--bg-color);
				border: 1px solid #ccc !important;
				border-radius: 50px;
				width: calc(100% - 28px);
				margin: 0 auto;
				margin-bottom: 14px;
				padding: 11px 14px;

				ion-icon {
					margin: 0;
					color: var(--primary);
					font-size: 1.2rem;
					min-width: 30px;
				}

				ion-textarea,
				ion-input {
					font-size: .85rem !important;
					font-weight: 500 !important;
				}
			}

		}

		.btn_container {
			padding: 7px 13px;
			padding-bottom: 31px;

			.button.btn {
				font-size: 1rem;
				font-weight: 500;
				width: auto;
				min-width: 145px;
				height: 40px;

				ion-icon {
					font-size: 1.3rem;
					min-width: 30px;
				}

			}
		}

		&.active {
			height: auto;
		}
	}

	.content.pickup_location {
		.form {

			ion-list ion-item ion-input {
				color: var(--text-dark);
				font-weight: 400 !important;
			}

			.btn_container {
				padding: 31px 13px;
				padding-top: 50px;
			}
		}
	}

	.content.food_info {
		background: var(--bg-color);
		height: 100%;

		ion-list {
			background: var(--transparent) !important;
			margin: 0;
			padding: 0;
		}

		ion-card {
			box-shadow: none;
			margin: 0;
			width: 100%;
			border-radius: 0;
			padding: 16px 13px 18px 13px;
			margin-bottom: 5px;
			background: var(--white);

			h2 {
				margin: 0;
				color: var(--text-dark);
				font-size: 1rem;
				padding-bottom: 15px;
			}

			&.form {
				position: unset !important;
				height: auto !important;

				ion-item {
					background: var(--bg-color);
					border: 1px solid #ccc !important;
					width: calc(100% - 0px);
					margin: 0 auto;
					margin-bottom: 0;
					border-radius: 18px;
					padding: 11px 14px;

					ion-icon {
						font-size: 1rem;
					}

					ion-icon {
						margin: 0;
						color: var(--primary);
						font-size: 1.2rem;
						min-width: 30px;
					}

					ion-textarea,
					ion-input {
						font-size: .82rem !important;
						font-weight: 500 !important;
						margin: 0 !important;
						min-width: unset !important;

						&.qnt {
							max-width: 60px;
						}
					}


				}

				h3 {
					margin: 0;
					color: var(--primary);
					font-size: 1.1rem;
					font-weight: 500;
					letter-spacing: .5px;
					padding: 8px 19px 0 19px;
				}

				&.add_items {
					ion-item {
						border-radius: 20px;
						padding: 10px 14px;
						margin-bottom: 10px;

						ion-input {
							font-size: .82rem !important;
							font-weight: 500 !important;
							margin: 0 !important;
							min-width: unset !important;

							&.qnt {
								max-width: 60px;
							}
						}

						&::after {
							content: '';
							position: absolute;
							right: 74px;
							top: 0;
							width: 1px;
							height: 100%;
							background: #ccc;
						}
					}
				}
			}

			&.delivery_mode {
				h3 {
					background: var(--bg-color);
					border: 1px solid #ccc !important;
					border-radius: 18px;
					width: calc(100% - 0px);
					margin: 0 auto;
					margin-bottom: 0;
					padding: 7px 14px;
					font-size: .82rem !important;
					font-weight: 400 !important;
					color: var(--text-light);

					span {
						color: var(--text-black);
						font-weight: 600;
						display: flex;
						align-items: center;

						ion-icon {
							color: var(--primary);
							font-size: 1.5rem;
						}
					}
				}
			}

			&.delivery_info {
				background: var(--transparent);

				h3 {
					margin: 0;
					color: var(--text-black);
					align-items: flex-start;
					font-size: .7rem;
					padding-bottom: 5px;

					ion-icon {
						color: var(--primary);
						min-width: 25px;
						font-size: 1rem;
					}
				}
			}

		}

		.btn_container {
			padding: 7px 13px;

			.button.btn {
				font-size: 1rem;
				font-weight: 500;
				width: auto;
				min-width: 145px;
				height: 40px;

				ion-icon {
					font-size: 1.3rem;
					min-width: 30px;
				}

			}
		}
	}

	.content.confirm_info {
		background: var(--bg-color);
		height: 100%;

		ion-list {
			background: var(--transparent) !important;
			margin: 0;
			padding: 0;

			ion-card {
				box-shadow: none;
				margin: 0;
				width: 100%;
				border-radius: 0;
				padding: 16px 13px 18px 13px;
				margin-bottom: 5px;
				background: var(--white);

				&.address_container {
					.address {
						padding: 10px 0;
						align-items: flex-start;
						position: relative;

						.text {
							width: calc(100% - 32px);
						}

						h2 {
							margin: 0;
							color: var(--text-light);
							font-size: .8rem;
							font-weight: 400;
							padding-bottom: 5px;
						}

						h3 {
							margin: 0;
							font-size: 1.2rem;
							font-weight: 700;
							color: var(--text-black);
							padding-bottom: 5px;
						}

						p {
							margin: 0;
							font-size: .93rem;
							font-weight: 500;
							color: var(--text-black)
						}

						ion-icon {
							color: var(--primary);
							font-size: 1.3rem;
							min-width: 25px;
							display: block;
							padding-top: 10px;
							padding-bottom: 10px;
							background: var(--white);
							position: relative;
							top: 16px;
							z-index: 99;

							&.zmdi-navigation {
								top: 10px;
							}
						}

						&::before,
						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 5px;
							width: 1px;
							height: 50%;
							border-right: 1px dotted var(--text-light);

						}

						&::after {
							top: unset;
							bottom: 0;
						}

						&:first-child {
							&::before {
								display: none;
							}
						}

						&:last-child {
							&::after {
								display: none;
							}
						}
					}
				}

				&.distance {
					h2 {
						margin: 0;
						color: var(--text-light);
						font-size: 0.8rem;
						font-weight: 400;
						padding-bottom: 5px;
					}

					h3 {
						margin: 0;
						font-size: 1rem;
						font-weight: 600;
						color: var(--text-black);

						span {
							display: flex;
							align-items: center;
							color: var(--primary);
						}
					}
				}

				&.info {
					padding-bottom: 3px;

					ion-row {
						padding-bottom: 15px;

						ion-col {
							padding: 0;

							h2 {
								margin: 0;
								color: var(--text-light);
								font-size: 0.8rem;
								font-weight: 400;
								padding-bottom: 5px;
							}

							h3 {
								margin: 0;
								font-size: 1rem;
								font-weight: 600;
								color: var(--text-black);
								line-height: 26px;
							}
						}
					}
				}

				&.deliveryMode {
					h2 {
						margin: 0;
						color: var(--text-light);
						font-size: 0.8rem;
						font-weight: 400;
						padding-bottom: 5px;
					}

					h3 {
						margin: 0;
						font-size: 1rem;
						font-weight: 600;
						color: var(--text-black);

						span {
							font-size: 1.2rem;
						}
					}

					p {
						margin: 0;
						font-size: 0.8rem;
						font-weight: 400;
						color: var(--text-light);

					}
				}

			}
		}

		.btn_container {
			padding: 7px 13px;
			padding-top: 31px;

			.button.btn {
				font-size: 1rem;
				font-weight: 500;
				width: auto;
				min-width: 145px;
				height: 40px;

				ion-icon {
					font-size: 1.3rem;
					min-width: 30px;
				}

			}
		}

	}

}