ion-header {
	h1 {
		padding: 6px 23px 35px 23px;
		color: var(--white);
		margin: 0;
		font-size: 1.6rem;
	}

}

.container {
	padding: 26px 20px 0 20px;

	h2 {
		margin: 0;
		color: var(--text-black);
		font-size: 1.4rem;
		padding-bottom: 16px;

	}

	p {
		margin: 0;
		color: var(--text-black);
		font-size: 1rem;
		padding-bottom: 17px;
		line-height: 21px;
		font-weight: 400;

	}
}