ion-content {
	--background: var(--bg-color);
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding-top: 24px;

	h2 {
		margin: 0;
		font-weight: 700;
		letter-spacing: 0;
		font-size: 1.2rem;
		padding: 0 33px 24px 33px;
	}

	ion-item {
		padding:16px  18px;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		--min-height: unset;
		margin-bottom: 5px;
		background: var(--white);

		ion-radio {
			--color: var(--text-light);
			--color-checked: var(--primary);
			margin: 0;
			margin-right: 20px;
		}

		ion-label {
			margin: 0;

			h3 {
				color: var(--text-dark);
				margin: 0;
				font-size: 1.2rem;
				font-weight: 500;
				padding-bottom: 5px;
			}

			h4 {
				margin: 0;
				color: var(--text-light);
				font-size: .95rem;
				font-weight: 400;
			}

		}
	}
}

ion-footer{
 background: var(--bg-color);
	.button.btn{
		--border-radius: 0px 33px 0 0;
	}
}