ion-header ion-toolbar ion-title {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 1.56rem;
	font-weight: 500;
	padding: 0 15px !important;
}

.text_box {
	color: var(--white);
	padding: 26px 23px 15px 23px;

	p {
		margin: 0;
		font-weight: 400;
		font-size: 1.35rem;
		line-height: 26px;
		letter-spacing: .5px;
		padding-bottom: 55px;
	}

	h2 {
		margin: 0;
		font-weight: 400;
		font-size: 1.15rem;

		span {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: .5px;
		}
	}
}

.form {
	padding-top: 62px;
}

ion-footer {
	background: var(--white);

	.button.btn {
		--border-radius: 33px 0 0 0;
	}
}