ion-header {
	ion-toolbar ion-buttons ion-back-button {
		--color: var(--primary) !important;
	}

	ion-item {
		padding: 0;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		--min-height: unset;
		margin-bottom: 12px;
		background: var(--white);
		border-radius: 8px;

		.item_inner {
			width: 100%;
			overflow: hidden;

			.item_header {
				padding: 10px 19px 7px 19px;

				.img_box {
					width: 48px;
					min-width: 48px;
					margin-right: 10px;
				}

				.text_box {
					width: 100%;
					overflow: hidden;

					h3 {
						margin: 0;
						font-size: 1.1rem;
						font-weight: 600;
						padding-bottom: 2px;
						color: var(--text-black);

						span {
							&.item_title {
								width: 100%;
								max-width: calc(100% - 131px);
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}

							&.status {
								min-width: 125px;
								font-weight: 500;
								font-size: .9rem;
								letter-spacing: .5px;
							}
						}
					}

					p {
						margin: 0;
						color: var(--text-light);
						font-size: .9rem;

						span {
							&.price {
								min-width: 70px;
							}
						}
					}
				}
			}
		}

		&.pending {
			.item_inner .item_header .text_box h3 {

				span {
					&.status {
						color: var(--primary);

					}
				}
			}
		}

		&.past {
			.item_inner .item_header .text_box h3 {

				span {
					&.status {
						color: var(--text-dark);
						font-weight: 600;
						letter-spacing: 0;
					}
				}
			}
		}

	}
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		height: 100%;
		width: 100%;
	}

	ion-icon {
		&.location {
			background: var(--primary);
			color: var(--white);
			position: absolute;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			line-height: 45px;
			font-size: 1.5rem;
		}

		&.courier_boy {
			background: var(--red_color);
			color: var(--white);
			position: absolute;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			line-height: 28px;
			font-size: .9rem;
		}
	}

}


ion-content {
	ion-list {
		background: var(--transparent) !important;
		margin: 0;
		padding: 10px 8px 0 8px;
		position: absolute;
		bottom: 0;
		height: 225px;
		overflow: hidden;
		transition: all .3s;

		ion-item {
			padding: 0;
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			--padding-start: 0;
			--highligh-color-focused: var(--transparent) !important;
			--background: var(--transparent);
			--min-height: unset;
			margin-bottom: 10px;
			background: var(--white);
			border-radius: 50px;

			.item_inner {
				width: 100%;
			}

			&.delivermam_info {
				padding: 5px 5px;

				.img_box {
					min-width: 53px;
					height: 53px;
					border-radius: 50%;
				}

				ion-icon {
					min-width: 53px;
					height: 53px;
					line-height: 53px;
					background: var(--primary);
					border-radius: 50%;
					color: var(--white);
					font-size: 1.5rem;
				}

				.text_box {
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					padding: 0 10px;

				}

				h2 {
					margin: 0;
					font-size: 1.2rem;
					font-weight: 700;
					color: var(--text-black);
				}

				p {
					margin: 0;
					color: var(--text-light);
					font-size: .8rem;

				}
			}

			&.location_detail {
				border-radius: 30px;
				padding: 5px 5px;

				.item_inner {
					&.d-flex {
						align-items: flex-start;

						ion-icon {
							&.zmdi-chevron-up {
								min-width: 53px;
								height: 53px;
								line-height: 53px;
								background: var(--primary);
								border-radius: 50%;
								color: var(--white);
								font-size: 2rem;
								transition: all .5s;
							}
						}
					}
				}

				.address_container {
					padding: 5px 10px;

					.address {
						padding: 10px 0;
						align-items: flex-start;
						position: relative;

						.text {
							width: calc(100% - 32px);
						}

						h2 {
							margin: 0;
							color: var(--text-light);
							font-size: .8rem;
							font-weight: 400;
							padding-bottom: 5px;
						}

						h3 {
							margin: 0;
							font-size: 1.2rem;
							font-weight: 700;
							color: var(--text-black);
							padding-bottom: 5px;
						}

						p {
							margin: 0;
							font-size: .93rem;
							font-weight: 500;
						}

						ion-icon {
							color: var(--primary);
							font-size: 1.3rem;
							min-width: 25px;
							display: block;
							padding-top: 10px;
							padding-bottom: 10px;
							background: var(--white);
							position: relative;
							top: 16px;
							z-index: 99;

							&.zmdi-navigation {
								top: 10px;
							}
						}

						&::before,
						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 5px;
							width: 1px;
							height: 50%;
							border-right: 1px dotted var(--text-light);

						}

						&::after {
							top: unset;
							bottom: 0;
						}

						&:first-child {
							&::before {
								display: none;
							}
						}

						&:last-child {
							&::after {
								display: none;
							}
						}
					}
				}

			}

			&.courier_info {
				padding: 21px 22px 11px 22px;
				border-radius: 30px;

				ion-row {
					margin: 0 -5px;
					padding-bottom: 13px;

					ion-col {
						padding: 0 5px;

						h2 {
							margin: 0;
							color: var(--text-light);
							font-size: .8rem;
							font-weight: 400;
							padding-bottom: 5px;
						}

						h3 {
							margin: 0;
							font-size: 1rem;
							font-weight: 500;
							color: var(--text-black);
						}
					}
				}

				&.payment_info {
					ion-row {
						padding-bottom: 4px;

						ion-col {
							h3 {
								padding-bottom: 3px;

								span {
									font-size: 1.3rem;
								}
							}

							//							h2 {
							//								padding: 0;
							//							}
						}
					}
				}

			}
		}

		&.active {
			height: 100%;
			overflow-y: scroll;

			ion-item.location_detail .item_inner.d-flex ion-icon.zmdi-chevron-up {
				transform: rotate(-180deg);
			}
		}
	}
}
