<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="my_deliveries">
			<!--
      <ion-icon name="triangle"></ion-icon>
      <ion-label>my deliveries</ion-label>
-->
			<img src="assets/images/ic_feeds.png" class="before">
			<img src="assets/images/ic_feeds_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="home">
			<!--
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>home</ion-label>
-->
			<img src="assets/images/ic_home.png" class="before">
			<img src="assets/images/ic_home_active.png" class="after">
		</ion-tab-button>

		<ion-tab-button tab="more">
			<!--
      <ion-icon name="square"></ion-icon>
      <ion-label>more</ion-label>
-->
			<img src="assets/images/ic_profile.png" class="before">
			<img src="assets/images/ic_profile_active.png" class="after">
		</ion-tab-button>
	</ion-tab-bar>

</ion-tabs>