ion-content {
	--background: var(--bg-color);
}

.banner {
	padding-top: 21px;
	position: relative;
	overflow: hidden;
	width: 300px;
	margin: 0 auto;
	height: 310px;

	h2 {
		margin: 0;
		padding-bottom: 56px;
		font-weight: 700;
		font-size: 1.25rem;
		color: var(--text-black);
	}

	img {
		display: block;
		margin: 0 auto;
		width: 160px;
	}

	h3 {
		position: absolute;
		color: var(--text-black);
		width: fit-content;
		margin: 0;
		font-size: .85rem;

		strong {
			display: block;
			color: var(--primary);
			font-size: 1.2rem;
			font-weight: 400;
		}

		&.lenght {
			left: 0;
			bottom: 38px;
		}

		&.width {
			right: -28px;
			left: 0;
			margin: 0 auto;
			bottom: 0;

		}

		&.height {
			right: 0;
			bottom: 96px;

		}
	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 0;
	padding-top: 40px;

	ion-item {
		padding: 14px;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		background: var(--white);
		--min-height: unset;
		margin-bottom: 5px;

		.item_inner {
			width: 100%;

			h2 {
				color: var(--text-dark);
				font-size: 1rem;
				width: calc(100% - 25px);
				margin: 0 auto;

				span {
					color: var(--primary);
					font-weight: 400;
					font-size: .9rem;
				}
			}

			h3 {
				color: var(--text-light);
				font-size: .75rem;
				width: calc(100% - 25px);
				margin: 0 auto;
				font-weight: 400;
			}

			ion-range {
				padding-top: 0;
				padding-bottom: 0;
				--bar-background: var(--text-light);
				--bar-background-active: var(--text-light);
				--knob-background: var(--primary);
			}

		}
	}
}

ion-footer {
	background: var(--bg-color);

	.button.btn {
		--border-radius: 0px 33px 0 0;
	}
}