<ion-content>
	 <div class="container-fluid">
            
            <div id="fda_app" class="row">
                <!-- Start Section Header Bar -->
                <section id="fda_header_bar" class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <span>Order</span>&nbsp;Fresh Food    
                        </div>
                    </div>
                    <div class="row fda_search_row">
                        <div class="col-12">
                            <i class="fa fa-search"></i>
                            <input type="text" class="fda_ip_search" placeholder="Search by food/restaurant" >
                        </div>
                    </div>
                </section>
                <!-- End Section Header Bar -->

                <!-- Start Section Body Part 1 -->

                <section id="fda_product_tile" class="col-12">
                    
                    <div class="row fda_food_row">
                        <div class="col-9">
                            <div class="food_tile active">
                                <img src="assets/images/food/tsr.png" alt="" class="fda_product_img">
                                <span class="food_name">Schezwan Rice</span>
                                <span class="food_detail">Triple schezuan rice, combines hakka noodles, fried rice, crisp noodles and ..</span>
                                <ul id="food_meta">
                                    <li>
                                        Calorie
                                        <span>325 CAL</span>
                                    </li>
                                    <li>
                                        Price
                                        <span><i class="fa fa-inr"></i> 550</span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-sm btn-default">Order Now</button>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="food_tile">
                                <img src="assets/images/food/pav-bhaji.png" alt="" class="fda_product_img">
                                <span class="food_name">Pav Bhaji Butter</span>
                                <span class="food_detail">Pav bhaji is a fast food dish from India, consisting of a thick vegetable curry ..</span>
                                <ul id="food_meta">
                                    <li>
                                        Calorie
                                        <span>600 CAL</span>
                                    </li>
                                    <li>
                                        Price
                                        <span><i class="fa fa-inr"></i> 350</span>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-sm btn-default">Order Now</button>
                            </div>
                        </div>
                    </div>

                </section>


            </div>

        </div>
</ion-content>