ion-header {
	ion-toolbar ion-title {
		padding: 0 25px !important;
		font-size: 1.4rem;
		text-align: center;
		font-weight: 500;
	}
}

ion-list {
	background: var(--transparent) !important;
	margin: 0;
	padding: 14px 6px 0px 6px;

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: 1rem;
		padding: 9px 6px 16px 6px;
	}

	ion-item {
		padding: 0;
		--inner-padding-end: 0px;
		--inner-min-height: unset !important;
		--padding-start: 0;
		--highligh-color-focused: var(--transparent) !important;
		--background: var(--transparent);
		--min-height: unset;
		margin-bottom: 12px;
		background: var(--white);
		border-radius: 8px;

		.item_inner {
			width: 100%;
			overflow: hidden;

			.item_header {
				padding: 10px 13px 7px 13px;

				.img_box {
					width: 48px;
					min-width: 48px;
					margin-right: 10px;
				}

				.text_box {
					width: 100%;
					overflow: hidden;

					h3 {
						margin: 0;
						font-size: 1.1rem;
						font-weight: 600;
						padding-bottom: 4px;
						color: var(--text-black);

						span {
							&.item_title {
								width: 100%;
								max-width: calc(100% - 131px);
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}

							&.status {
								min-width: 125px;
								font-weight: 500;
								font-size: .9rem;
								letter-spacing: .5px;
							}
						}
					}

					p {
						margin: 0;
						color: var(--text-light);
						font-size: .9rem;

						span {
							&.price {
								min-width: 70px;
							}
						}
					}
				}
			}

			.item_footer {
				background: var(--bg-color);
				padding: 13px 13px 12px 13px;

				h4 {
					color: var(--text-black);
					margin: 0;
					font-size: .87rem;
					font-weight: 700;
					letter-spacing: 0;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					min-width: 35%;
					max-height: 35%;
				}

				h5 {
					margin: 0;
					min-width: 30%;
					max-height: 30%;

					.icon_container {
						display: flex;
						align-items: center;
						width: fit-content;
						margin: 0 auto;
					}

					ion-icon {
						color: var(--primary);
						font-size: 1.3rem;
						display: block;
					}

					span {
						&.dotted_icon {
							background: var(--text-light);
							display: block;
							min-width: 3px;
							height: 3px;
							border-radius: 50%;
							margin: 0 1px;
						}
					}
				}
			}
		}

		&.pending {
			.item_inner .item_header .text_box h3 {

				span {
					&.status {
						color: var(--primary);

					}
				}
			}
		}	
		&.past {
			.item_inner .item_header .text_box h3 {

				span {
					&.status {
						color: var(--text-dark);
						font-weight: 600;
						letter-spacing: 0;
					}
				}
			}
		}
		
	}
}