 ion-list {
 	margin: 0;
 	padding: 14px 6px 0px 6px;
 	background: var(--transparent) !important;
 	overflow: hidden;
 	height: 100%;

 	h2 {
 		margin: 0;
 		color: var(--text-light);
 		font-size: 1rem;
 		padding: 9px 6px 16px 6px;
 	}

 	ion-item {
 		padding: 20px 20px;
 		--inner-padding-end: 0px;
 		--inner-min-height: unset !important;
 		--padding-start: 0;
 		--highligh-color-focused: var(--transparent) !important;
 		--background: var(--transparent);
 		--min-height: unset;
 		margin-bottom: 7px;
 		background: var(--white);
 		border-radius: 8px;

 		.item_inner {
 			width: 100%;
 			margin-top: 0;
 			margin-bottom: 0;

 			ion-radio {
 				--color-checked: var(--primary);
 			}

 			h3 {
 				margin: 0;
 				font-size: 1.2rem;
 				font-weight: 600;
 			}
 		}
 	}

 }

 ion-footer {
 	background: var(--bg-color2);

 	.button.btn {
 		--border-radius: 33px 0 0 0;
 	}
 }