<!--
<ion-header>
  <ion-toolbar>
    <ion-title>deliverymode</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
	<ion-list lines="none">
		<div class="list_header">
			<h1 class="ion-text-center">{{'select_delivery_mode' | translate}}</h1>
		</div>
		<ion-radio-group>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="1"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Economy Delivery <span class="end">$8.60</span></h2>
						<p>Usually takes 2-3 days to delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="2"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Delux Delivery <span class="end">$12.50</span></h2>
						<p> Assured 6 hour delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="3"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Premium Delivery <span class="end">$20.00</span></h2>
						<p>Dadicated delivery boy delivery in 2-3 hours.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="4"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Economy Delivery <span class="end">$8.60</span></h2>
						<p>Usually takes 2-3 days to delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="5"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Delux Delivery <span class="end">$12.50</span></h2>
						<p> Assured 6 hour delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="7"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Premium Delivery <span class="end">$20.00</span></h2>
						<p>Dadicated delivery boy delivery in 2-3 hours.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="7"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Economy Delivery <span class="end">$8.60</span></h2>
						<p>Usually takes 2-3 days to delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="8"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Delux Delivery <span class="end">$12.50</span></h2>
						<p> Assured 6 hour delivery.</p>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class="item_inner d-flex">
					<ion-radio value="9"></ion-radio>
					<div class="text_box">
						<h2 class="d-flex">Premium Delivery <span class="end">$20.00</span></h2>
						<p>Dadicated delivery boy delivery in 2-3 hours.</p>
					</div>
				</div>
			</ion-item>
		</ion-radio-group>
	</ion-list>
	<ion-button size="large" class="btn" (click)="dismiss()">{{'update' | translate}}</ion-button>
</ion-footer>