ion-content {
	--background: rgba(0, 0, 0, 0) !important;
}

ion-footer {
	background: var(--bg-color);
	border-radius: 33px 0 0 0;
	overflow: hidden;

	ion-list {
		background: var(--transparent) !important;
		margin: 0;
		padding: 0;


		ion-radio-group {
			max-height: 255px;
			overflow: auto;
			display: block;
			padding-bottom: 20px;

		}

		.list_header {
			padding: 20px 20px;

			h1 {
				margin: 0;
				font-size: 1.25rem;
				font-weight: 600;
				color: var(--text-black);
			}

		}


		ion-item {
			padding: 15px 20px;
			--inner-padding-end: 0px;
			--inner-min-height: unset !important;
			--padding-start: 0;
			--highligh-color-focused: var(--transparent) !important;
			--background: var(--transparent);
			--min-height: unset;
			margin-bottom: 5px;
			background: var(--white);

			.item_inner {
				align-items: flex-start;

				.text_box {
					width: 100%;

					h2 {
						margin: 0;
						color: var(--text-dark);
						font-size: 1.15rem;
						padding-bottom: 7px;

						span {
							color: var(--text-black);
							font-size: 1.17rem;
						}
					}

					p {
						color: var(--text-light);
						margin: 0;
						font-weight: 400;
						font-size: .9rem;
					}

				}
			}

			ion-radio {
				--color: var(--text-light);
				--color-checked: var(--primary);
				margin: 0;
				margin-right: 20px;
				min-width: 20px;
				margin-top: 2px;
			}
		}
	}

	.button.btn {
		--border-radius: 0px 33px 0 0;
	}
}